body, div {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: MyFirstFont;
    src: url(font-of-primalis/Roboto-BlackItalic.ttf);
}

div.conta {
    display: flex;
}  

div.left {
    position: relative;
    background-image: url(images/roman-synkevych-vXInUOv1n84-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

div.right {
    background-color: black;
    width: 60vw;
    height: 100vh;
}


div.opacity {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    top: 21%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: MyFirstFont;
    font-size: 2rem;
}


img.logo {
    width: 50px;
    height: 50px;
}

p.logo {
    margin-left: 10px;
}

span {
    color: purple;
}

div.shoutout {
    color:lemonchiffon;
    padding-bottom: 2.5%;
    font-size: .8rem;
}

div.shoutout a:link {
    color: lemonchiffon;
}